body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, button,
textarea, p, blockquote, th, td, menu{margin:0;padding:0;}
html{overflow-y:scroll}
body,button,input,select,textarea{ font:14px/1.5 "Helvetica-Neue", "Arial", sans-serif;}
iframe{border:0;margin:0;padding:0;}
img, fieldset{border:0;}
cite,em,strong,th{font-style:inherit;font-weight:inherit;}
h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:normal;}
input,button,textarea,select{*font-size:100%;}
ol, ul, menu{list-style:none;}
input, button{border:0;}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:left;}
blockquote{quotes:none;}
blockquote:before,blockquote:after,{content:'';content:none;}
a{text-decoration:none;}
td,th,div,p{word-wrap:break-word}
pre,xmp{white-space:pre-wrap}
form{display:inline;}
input{vertical-align:middle;}
em,cite,i{font-style:normal;}
s{text-decoration:none;}
*{outline:none}
:focus{outline:0;}
.clear{clear:both;}
div{display: block;}
.fr{ float: right; }
.fl{ float: left; }
.h-40{
	height: 40px;
	width: 100%;
}
.w-180{
	width: 180px; height: 10px;
}
/*css3*/
.br10{-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
.br5{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}

html{
	width: 100%;
  	height: 100%;
  	background: #fff;
}
body{
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
	background: #f0f0f0 url(../img/noise-f1.gif) repeat;
}
.main{
	margin: 20px auto;
	width: 1000px;
	position: relative;
	display: block;
}
.dataArea{
	position: relative;
	border: 7px solid #fff;
	box-shadow: 0 0 20px #aaa;
}
.dataArea img, .dataArea canvas{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}
.timeline{
	margin: 20px auto;
	position: relative;
	width: 1000px;
}
#slider-range{
	width: 100%;
}

.lines{
	width: 100%;
	height: 24px;
	border-left: 1px solid #ddd;
	margin-bottom: 5px;
	position: relative;
}
.lines.normal{
	height: 10px;
	margin-bottom: 5px;
}
.lines.zoom{

}
.lines.zoom ul{
	position: absolute;
	top: 0;
	left: 0;
}
.lines.zoom ul li:hover{
	cursor: pointer;
}
.lines ul{
	display: block;
	height: 100%;
	width: 100%;
}
.lines ul li{
	float: left;
	width: 10px;
	height: 100%;
	border-right: 1px solid #4cd1ff;
}
.lines ul li.fix{
	background: #0ec2fe;
}
.lines ul li.sac{
	background: #008fbf;
}
.lines ul li.red{
	background: #f35243;
	border-right: 1px solid #ff9c93;
}

.lines .overlay-box{
	width:100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.lines .midcontrol{
	height: 100%;
}
.lines .midcontrol.left{
	width: 0;
	background: rgba(255,255,255,0.7);
}
.lines .midcontrol.right{
	width: 800px;
	background: rgba(255,255,255,0.7);
}
.lines .midcontrol.mid{
	width: 200px;
	cursor:move;
}

.lines .control{
	position: absolute;
	left: 100px;
	top: -2px;
	width: 20px;
	height: 14px;
	border: 1px solid #ddd;
	background: #fff;
	cursor: pointer;
}
.lines .control.left{
	left: -10px;
}
.lines .control.right{
	left: 190px;
}


.dataChart{
	width: 400px;
	height: 100%;
	margin-left: 20px;
}
.dataChart h3{
	color: #ccc;
	font-size: 20px;
	line-height: 50px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}
.dataChart p{
	font: 16px HelveticaNeue-UltraLight, "Helvetica-Neue", "Arial", sans-serif !important;
	height: 24px;
	color: #999;

}
.dataChart p span{
	float: right;
	color: #666;
}
.data-fix{
	
	padding: 20px 0 20px 0;
	border-bottom: 1px solid #ddd;
}
.data-dyn{
	padding: 20px 0 20px 0;
}
.legend{

	border: 1px solid #ddd;
	padding: 15px;
}
.legend ul li p{
	font-size: 14px;
}
.legend ul li p span.num,
.legend ul li p span.avg,
.legend ul li p span.perc{
	float: right;
	margin-left: 10px;
	width: 60px;
	text-align: right;
}
.legend ul li p span.rect{
	float: left;
	width: 14px;
	height: 14px;
	display: inline-block;
	margin: 3px 10px 0 0;
}
.legend ul li p.fix,
.legend ul li p.fix span{
	color: #0ec2fe;
}
.legend ul li p.fix span.rect{
	background: #0ec2fe;
}
.legend ul li p.sac,
.legend ul li p.sac span{
	color: #008fbf;
}
.legend ul li p.sac span.rect{
	background: #008fbf;
}
.legend ul li p.red,
.legend ul li p.red span{
	color: #f35243;
}
.legend ul li p.red span.rect{
	background: #f35243;
}




.timeline .timeData{
	width: 100%;
	height: 14px;
	font-size: 14px;
	line-height: 14px;
	color: #ccc;
	position: relative;
}
.timeline .timeData p{
	position: absolute;
	top: 0;
}
.timeline .timeData p.first{
	left: 5px;
}
.timeline .timeData p.last{
	right: 5px;
}
.frameTip{
	position: absolute;
	width: 300px;
	height: 100px;
	background: rgba(0,0,0,0.8);
	top: -100px;
	display: none;
}




