
@width: 40px;
ul.boxChart{
	background: #eee;
	width: 100px; 
	height: 100px;
	li{
		ul{
			li {
				display: block;
				width: @width; 
				height: @width; 
				background: #eee;
				margin: 1px;
				float: left;
			}
		}
	}
}



